body {
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

.topbar{
    height: 6px;
    width: 100%;
    background-color: #c7c36d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #254d2a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 18px;
    height: 84px;
}

.navbar-items {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links a{
    text-decoration: none;
    color: white;
    padding: 32px 40px 32px 38px;
    white-space: nowrap;
    border-left: 1px black solid;
}

.navbar-links li a:hover {
    background-color: white;
    color: #254d2a;
}

.search{
    border-right: 1px black solid;
}

.toggle-button {
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}

.main-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    background-color: white;
    max-width: 1000px;
    padding: 20px;
    height: fit-content;
    margin-top: 0px;
}

.responsive{
    width:auto;
    height: 100%;
}

.sidebar-head{
    height: 5px;
    width: 100%;
    background-color: #c7c36d;
}

.sidebar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    background-color: white;
    max-width: 343px;
}

.sidebar h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #254d2a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 18px;
    width: 100%;
    margin-top: 0px;
    height: 30px
}

.sidebar p{
    margin: 0px 15px 10px 15px;
}

.teams-menu{
    width:100%;
    background-color: white;
    color: #254d2a;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 84px;
    right:0;
    height: 600px;
    box-shadow: 0px 10px 10px gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.team-link:hover .teams-menu{
    visibility: visible;
    opacity: 1;
}

.quick-links-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick-links-links a{
    color: #254d2a;
    background-color: white;
    font-size: 16px;
    padding: 15px 120px 15px 10px;
    white-space: nowrap;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.quick-links-links a:hover{
    background-color: #254d2a !important;
    color: white !important;
    text-decoration: underline;
}

.mens-sports{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.womens-sports{
    margin-left: 20px;
    margin-right: 20px;
}

.mens-sports-teams{
    display: flex;
    flex-direction: column;
}

.general-sport{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #c7c36d;
}

.general-sport h1{
    font-size: 16px;
    padding: 0px 200px 0px 0px;
}

.general-sport-links{
    padding:0px;
}

.general-sport-links a{
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #254d2a;
    padding: 5px;
    font-weight: normal;
}

.team-link h4{
    border-bottom: 1px solid #c7c36d;
}

.general-sport-links:hover{
    text-decoration: underline i !important;
}

@media (max-width: 1360px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-items{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .toggle-button {
        display: flex;
        margin-top: 25px;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: #254d2a;
        padding: 0px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }

    .navbar-links ul li {
        display: flex;
        text-align: left;
        border-bottom: white 1px solid;
        width: 100%;
        border-top: white 1px solid;
    }

    .search {
        border-right: none;
    }

    .navbar-links li a {
        width: 100%;
        border-left: none;
    }

    .navbar-links.active {
        display: flex;
        z-index: 1;
    }

    .logo{
        display: flex;
        justify-content: center;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .sidebar{
        max-width: 1040px;
    
    }

    .team-link:hover .teams-menu{
        visibility: hidden;
        opacity: 0;
    }
}